[submodule "qa-examples/watson_speechandtext_demo"]
	path = qa-examples/watson_speechandtext_demo
	url = https://github.com/remstef/WatsonSpeechTextDemo.git
[submodule "qa-examples/jwatson"]
	path = qa-examples/jwatson
	url = https://github.com/tudarmstadt-lt/jwatson
[submodule "qa-examples/watsondemo"]
	path = qa-examples/watsondemo
	url = https://github.com/tudarmstadt-lt/watsondemo.git
[submodule "qa-summer-15/2-WatsonTravel"]
	path = qa-summer-15/2-WatsonTravel
	url = https://github.com/tudarmstadt-lt/WatsonTravel.git
[submodule "qa-summer-15/1-WatsonSimpsons/source"]
	path = qa-summer-15/1-WatsonSimpsons/source
	url = https://github.com/tudarmstadt-lt/WatsonSimpsons.git
[submodule "qa-summer-16/1-Movie-Character-Insights/source"]
	path = qa-summer-16/1-Movie-Character-Insights/source
	url = https://github.com/Thylossus/tud-movie-character-insights
[submodule "qa-summer-16/2-Ask-Watson-Chatbot/source"]
	path = qa-summer-16/2-Ask-Watson-Chatbot/source
	url = https://github.com/bhaettasch/watson-domain-expert-chatbot
